.pfr_background_black {
    background: #000 !important;
}

.pfr_plus_col {
    margin-bottom: 5em;
}

.pfr_plus_header {
    margin: 50px 0px 50px 0px;
    justify-content: space-between;
    align-items: center;
}

.pfr_plus_header h2 {
    font-size: 44px;
    font-weight: 700;
    color: #000;
    margin-bottom: 0;
}

.pfr_plus_header_innerdiv {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pfr_plus_header_spantext {
    font-size: 27px;
    letter-spacing: -0.3px;
    font-weight: 700;
    color: #000;
}

.pfr_plus_header_spanround {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    background: #1a73e9;
    border-radius: 50px;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.pfr_plus_main_div {
    margin-top: 20px;
}

.pfr_plus_h2 {
    font-size: 30px;
    letter-spacing: -0.4px;
    font-weight: 600;
    margin: 30px 0px 15px 0px;
}

.pfr_plus_upper_maindiv {
    border: 0.5px solid #cac7c7;
    border-radius: 5px;
    overflow: hidden;
    user-select: none;
}

.pfr_plus_upperdiv {
    border-top: 0.5px solid #cac7c7;
    cursor: pointer;
    background-position: center;
}

.pfr_plus_upperdiv:hover,
.pfr_plus_upperdiv:active {
    background-color: rgb(0 0 0 / 5%);
    background-size: 100%;
    transition: background 1s;
}

.pfr_plus_upper_maindiv div:nth-child(1) {
    border-top: none;
}

.pfr_plus_innerdiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 25px;
    position: relative;
    height: 92px;
}

.pfr_plus_innerdiv img {
    width: 26px;
}

.pfr_plus_innerdiv span {
    padding-left: 33px;
    font-weight: 400;
    font-size: 19px;
    letter-spacing: -0.2px;
}

.pfr_plus_innerdiv i {
    position: absolute;
    right: 25px;
    font-size: 14px;
    color: #000;
}

/* Add payment css */
.pfr_payment_offcanvas {
    width: 350px;
}

.pfr_payment_header {
    border-bottom: 1px solid #e0e0e0;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
    height: 72px;
}

.pfr_payment_headerinner {
    border-bottom: 1px solid #e0e0e0;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
    height: 72px;
    justify-content: flex-start;
}

.pfr_payment_header .btn-back, .pfr_payment_headerinner .btn-back {
    margin-right: 20px;
    background: none;
}

.pfr_payment_header_title {
    font-size: 17px;
    padding-left: 10px;
    font-weight: 600;
    color: #000;
}

.pfr_payment_header .btn-close, .pfr_payment_headerinner .btn-close {
    padding: 0px !important;
    font-size: 14px;
    opacity: 1;
}

.pfr_payment_header .btn-back img, .pfr_payment_headerinner .btn-back img {
    width: 8px;
}

.pfr_payment_circle_btn {
    width: 38px;
    height: 38px;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    cursor: pointer;
}

.pfr_payment_circle_btn i {
    font-size: 12px;
}

.pfr_payment_body {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.pfr_payment_first_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.pfr_payment_body_h {
    font-size: 25px;
    font-weight: 600;
    color: #000;
    margin-bottom: 10px;
    text-align: center;
}

.pfr_payment_body_p {
    font-size: 21px;
    font-weight: 400;
    color: #5b5b5b;
    margin-bottom: 0px;
    text-align: center;
    line-height: 26px;
    letter-spacing: -0.3px;
}

.pfr_payment_big_btn, .pfr_payment_big_btn:hover, .pfr_payment_big_btn:active, .pfr_payment_big_btn:focus {
    background: #000000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    font-size: 18px;
    font-weight: 500;
    padding: 0px 0px;
    border-radius: 10px;
    box-shadow: none;
    outline: none;
    border: 0;
    height: 54px;
    margin-top: 34px;
    padding-bottom: 5px;
    letter-spacing: 0.9px;
}

.pfr_payment_footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #e0e0e0;
    background: #fff;
}

.pfr_payment_footer button, .pfr_payment_footer button:hover, .pfr_payment_footer button:active, .pfr_payment_footer button:focus {
    background: #a6a6a6;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    border-radius: 12px;
    box-shadow: none;
    outline: none;
    border: 0;
    height: 59px;
    letter-spacing: 0.9px;
    padding-bottom: 12px;
}

.pfr_payment_innerhead {
    font-size: 24px;
    color: #000;
    font-weight: 600;
    margin-bottom: 10px;
}

.pfr_payment_innerdivs {
    margin: 15px 0px;
}

.pfr_payment_imgdiv {
    background: #1a73e9;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pfr_payment_imgdiv img {
    width: 16px;
    padding-bottom: 2px;
}

.pfr_payment_cardnumber {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.5px;
    color: #000;
    margin-left: -10px;
}

.pfr_payment_cardname {
    font-size: 14.5px;
    font-weight: 400;
    color: #5b5b5b;
    margin-bottom: 0;
    margin-left: -10px;
}

.pfr_payment_cardsdiv {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.pfr_payment_card3dot, .pfr_payment_card3dot:hover {
    color: #929292;
}

.pfr_payment_cards3dots_options, .pfr_payment_cards3dots_options:active {
    color: #000;
    font-size: 17px;
    padding: 0.5rem 1rem;
}

.pfr_payment_cards3dots_options:active {
    background-color: #e9ecef;
}

.dropdown-menu {
    border-color: #fff;
    box-shadow: 1px 1px 3px;
    color: #b9b6b6;
    position: absolute;
    inset: 0px -30px auto auto;
    transform: translate3d(0px, 27px, 0px);
}

.pfr_payment_cards3dots_options:hover {
    background-color: #e9ecef;
    color: #000;
}

/* Vehicle CSS */
.pfr_vehicle_dropdown, .pfr_vehicle_dropdown:hover, .pfr_vehicle_dropdown:active, .pfr_vehicle_dropdown:focus {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #cccccc !important;
    height: 64px;
    background: none !important;
    box-shadow: none !important;
}

.pfr_vehicle_dropdownmenu {
    width: 100%;
}

.pfr_vehicle_dropdown_menuoptions {
    height: 58px;
}

.pfr_vehicle_dropdown_menuoptions:hover, .pfr_vehicle_dropdown_menuoptions:active, .pfr_vehicle_dropdown_menuoptions:focus {
    color: #fff;
    text-decoration: none;
    background-color: #e9ecef;
}

.pfr_vehicle_dropdowndiv {}

.pfr_vehicle_dropdowndiv img, .pfr_vehicle_dropdown_menuoptions img {
    width: 30px;
}

.pfr_vehicle_dropdowndiv span, .pfr_vehicle_dropdown_menuoptions span {
    font-size: 17.3px;
    font-weight: 600;
    color: #000;
    margin-left: 10px;
}

.pfr_lineseparator {
    background: #e9ecef;
    height: 1px;
    margin-top: 10px;
}

@media only screen and (max-width: 550px) {

    /*mobile*/

}

@media only screen and (max-width: 767px) {

    /*mobile*/
    .pfr_plus_main_div {
        margin-top: 20px;
    }

    .pfr_plus_h2 {
        font-size: 20px;
        font-weight: 700;
        margin: 30px 0px 13px 0px;
    }

    .pfr_plus_upper_maindiv {
        border-radius: 10px;
    }

    .pfr_plus_innerdiv {
        padding-top: 15px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 15px;
        height: 66px;
    }

    .pfr_plus_innerdiv img {
        width: 21px;
    }

    .pfr_plus_innerdiv span {
        padding-left: 23px;
        font-weight: 400;
        font-size: 15.5px;
    }

    .pfr_plus_innerdiv i {
        right: 22px;
        font-size: 13px;
    }

    .pfr_plus_header {
        margin: 22px 0px 38px 0px;
    }

    .pfr_plus_header_spantext {
        font-weight: 700;
        font-size: 21px;
    }

    .pfr_plus_header_spanround {
        font-size: 20px;
        font-weight: 700;
        width: 75px;
        height: 75px;
        margin-left: 0px;
        margin-right: 12px;
    }

    /* Add payment css */
    .pfr_payment_space_bottom {
        height: 30vh;
    }

    .pfr_payment_offcanvas {
        width: 100%;
    }

    .pfr_payment_header {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 15px;
        padding-top: 15px;
        height: 72px;
    }

    .pfr_payment_headerinner {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 15px;
        padding-top: 15px;
        height: 72px;
    }

    .pfr_payment_header .btn-back, .pfr_payment_headerinner .btn-back {
        margin-right: 20px;
    }

    .pfr_payment_header_title {
        font-size: 17px;
    }

    .pfr_payment_header .btn-close, .pfr_payment_headerinner .btn-close {
        font-size: 14px;
    }

    .pfr_payment_header .btn-back img, .pfr_payment_headerinner .btn-back img {
        width: 8px;
    }

    .pfr_payment_circle_btn {
        width: 38px;
        height: 38px;
    }

    .pfr_payment_circle_btn i {
        font-size: 12px;
    }

    .pfr_payment_body {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 15px;
        padding-top: 15px;
    }

    .pfr_payment_body_h {
        font-size: 23px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .pfr_payment_body_p {
        font-size: 19px;
        font-weight: 400;
        margin-bottom: 0px;
        line-height: 26px;
        letter-spacing: -0.3px;
    }

    .pfr_payment_big_btn, .pfr_payment_big_btn:hover, .pfr_payment_big_btn:active, .pfr_payment_big_btn:focus {
        width: 40%;
        font-size: 18px;
        font-weight: 500;
        padding: 0px 0px;
        border-radius: 10px;
        height: 54px;
        padding-bottom: 5px;
        margin-top: 34px;
        letter-spacing: 0.9px;
    }

    .pfr_payment_footer {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .pfr_payment_footer button, .pfr_payment_footer button:hover, .pfr_payment_footer button:active, .pfr_payment_footer button:focus {
        width: 100%;
        font-size: 18px;
        font-weight: 500;
        border-radius: 12px;
        height: 56px;
        letter-spacing: 0.9px;
        padding-bottom: 12px;
    }

    .pfr_payment_innerhead {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .pfr_payment_innerdivs {
        margin: 15px 0px;
    }

    .pfr_payment_imgdiv {
        width: 40px;
        height: 40px;
        border-radius: 100px;
    }

    .pfr_payment_imgdiv img {
        width: 16px;
        padding-bottom: 2px;
    }

    .pfr_payment_cardnumber {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: -0.5px;
        margin-left: -10px;
    }

    .pfr_payment_cardname {
        font-size: 14.5px;
        font-weight: 400;
        margin-bottom: 0;
        margin-left: -10px;
    }

    .pfr_payment_cardsdiv {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {

    /*ipad*/
    .pfr_plus_main_div {
        margin-top: 20px;
    }

    .pfr_plus_h2 {
        font-size: 20px;
        font-weight: 500;
        margin: 30px 0px 10px 0px;
    }

    .pfr_plus_upper_maindiv {
        border-radius: 10px;
    }

    .pfr_plus_innerdiv {
        padding: 15px 25px;
        height: 70px;
    }

    .pfr_plus_innerdiv img {
        width: 15px;
    }

    .pfr_plus_innerdiv span {
        padding-left: 15px;
        font-weight: 400;
        font-size: 16px;
    }

    .pfr_plus_innerdiv i {
        right: 25px;
        font-size: 14px;
    }

    /* Add payment css */
    .pfr_payment_space_bottom {
        height: 30vh;
    }

    .pfr_payment_offcanvas {
        width: 350px;
    }

    .pfr_payment_header {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 15px;
        padding-top: 15px;
        height: 72px;
    }

    .pfr_payment_headerinner {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 15px;
        padding-top: 15px;
        height: 72px;
    }

    .pfr_payment_header .btn-back, .pfr_payment_headerinner .btn-back {
        margin-right: 20px;
    }

    .pfr_payment_header_title {
        font-size: 17px;
    }

    .pfr_payment_header .btn-close, .pfr_payment_headerinner .btn-close {
        font-size: 14px;
    }

    .pfr_payment_header .btn-back img, .pfr_payment_headerinner .btn-back img {
        width: 8px;
    }

    .pfr_payment_circle_btn {
        width: 38px;
        height: 38px;
    }

    .pfr_payment_circle_btn i {
        font-size: 12px;
    }

    .pfr_payment_body {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 15px;
        padding-top: 15px;
    }

    .pfr_payment_body_h {
        font-size: 23px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .pfr_payment_body_p {
        font-size: 19px;
        font-weight: 400;
        margin-bottom: 0px;
        line-height: 26px;
        letter-spacing: -0.3px;
    }

    .pfr_payment_big_btn, .pfr_payment_big_btn:hover, .pfr_payment_big_btn:active, .pfr_payment_big_btn:focus {
        width: 40%;
        font-size: 18px;
        font-weight: 500;
        padding: 0px 0px;
        border-radius: 10px;
        height: 54px;
        padding-bottom: 5px;
        margin-top: 34px;
        letter-spacing: 0.9px;
    }

    .pfr_payment_footer {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .pfr_payment_footer button, .pfr_payment_footer button:hover, .pfr_payment_footer button:active, .pfr_payment_footer button:focus {
        width: 100%;
        font-size: 18px;
        font-weight: 500;
        border-radius: 12px;
        height: 56px;
        letter-spacing: 0.9px;
        padding-bottom: 12px;
    }

    .pfr_payment_innerhead {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .pfr_payment_innerdivs {
        margin: 15px 0px;
    }

    .pfr_payment_imgdiv {
        width: 40px;
        height: 40px;
        border-radius: 100px;
    }

    .pfr_payment_imgdiv img {
        width: 16px;
        padding-bottom: 2px;
    }

    .pfr_payment_cardnumber {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: -0.5px;
        margin-left: -10px;
    }

    .pfr_payment_cardname {
        font-size: 14.5px;
        font-weight: 400;
        margin-bottom: 0;
        margin-left: -10px;
    }

    .pfr_payment_cardsdiv {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 992px) {

    /*ipad pro*/
    .pfr_plus_main_div {
        margin-top: 20px;
    }

    .pfr_plus_h2 {
        font-size: 20px;
        font-weight: 500;
        margin: 30px 0px 10px 0px;
    }

    .pfr_plus_upper_maindiv {
        border-radius: 10px;
    }

    .pfr_plus_innerdiv {
        padding: 15px 25px;
        height: 70px;
    }

    .pfr_plus_innerdiv img {
        width: 15px;
    }

    .pfr_plus_innerdiv span {
        padding-left: 15px;
        font-weight: 400;
        font-size: 16px;
    }

    .pfr_plus_innerdiv i {
        right: 25px;
        font-size: 14px;
    }

    /* Add payment css */
    .pfr_payment_offcanvas {
        width: 350px;
    }

    .pfr_payment_header {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 15px;
        padding-top: 15px;
        height: 72px;
    }

    .pfr_payment_headerinner {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 15px;
        padding-top: 15px;
        height: 72px;
    }

    .pfr_payment_header .btn-back, .pfr_payment_headerinner .btn-back {
        margin-right: 20px;
    }

    .pfr_payment_header_title {
        font-size: 17px;
    }

    .pfr_payment_header .btn-close, .pfr_payment_headerinner .btn-close {
        font-size: 14px;
    }

    .pfr_payment_header .btn-back img, .pfr_payment_headerinner .btn-back img {
        width: 8px;
    }

    .pfr_payment_circle_btn {
        width: 38px;
        height: 38px;
    }

    .pfr_payment_circle_btn i {
        font-size: 12px;
    }

    .pfr_payment_body {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 15px;
        padding-top: 15px;
    }

    .pfr_payment_body_h {
        font-size: 23px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .pfr_payment_body_p {
        font-size: 19px;
        font-weight: 400;
        margin-bottom: 0px;
        line-height: 26px;
        letter-spacing: -0.3px;
    }

    .pfr_payment_big_btn, .pfr_payment_big_btn:hover, .pfr_payment_big_btn:active, .pfr_payment_big_btn:focus {
        width: 40%;
        font-size: 18px;
        font-weight: 500;
        padding: 0px 0px;
        border-radius: 10px;
        height: 54px;
        padding-bottom: 5px;
        margin-top: 34px;
        letter-spacing: 0.9px;
    }

    .pfr_payment_footer {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .pfr_payment_footer button, .pfr_payment_footer button:hover, .pfr_payment_footer button:active, .pfr_payment_footer button:focus {
        width: 100%;
        font-size: 18px;
        font-weight: 500;
        border-radius: 12px;
        height: 56px;
        letter-spacing: 0.9px;
        padding-bottom: 12px;
    }

    .pfr_payment_innerhead {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .pfr_payment_innerdivs {
        margin: 15px 0px;
    }

    .pfr_payment_imgdiv {
        width: 40px;
        height: 40px;
        border-radius: 100px;
    }

    .pfr_payment_imgdiv img {
        width: 16px;
        padding-bottom: 2px;
    }

    .pfr_payment_cardnumber {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: -0.5px;
        margin-left: -10px;
    }

    .pfr_payment_cardname {
        font-size: 14.5px;
        font-weight: 400;
        margin-bottom: 0;
        margin-left: -10px;
    }

    .pfr_payment_cardsdiv {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media only screen and (min-width: 1600px) {

    /*large desktop*/
    .pfr_plus_main_div {
        margin-top: 20px;
    }

    .pfr_plus_h2 {
        font-size: 30px;
        font-weight: 600;
        letter-spacing: -0.8px;
        margin: 30px 0px 15px 0px;
    }

    .pfr_plus_upper_maindiv {
        border-radius: 10px;
    }

    .pfr_plus_innerdiv {
        padding-top: 15px;
        padding-left: 40px;
        padding-right: 25px;
        padding-bottom: 15px;
        height: 106px;
    }

    .pfr_plus_innerdiv img {
        width: 26px;
    }

    .pfr_plus_innerdiv span {
        padding-left: 33px;
        font-weight: 400;
        font-size: 19px;
        letter-spacing: -0.2px;
    }

    .pfr_plus_innerdiv i {
        right: 25px;
        font-size: 14px;
    }

    .pfr_plus_header {
        margin: 50px 0px 50px 0px;
    }

    .pfr_plus_header h2 {
        font-size: 44px;
        font-weight: 700;
    }

    .pfr_plus_header_spantext {
        font-size: 27px;
        letter-spacing: -0.3px;
        font-weight: 700;
    }

    .pfr_plus_header_spanround {
        font-size: 20px;
        font-weight: 500;
        width: 48px;
        height: 48px;
        margin-left: 10px;
    }

    /* Add payment css */
    .pfr_payment_offcanvas {
        width: 400px;
    }

    .pfr_payment_header {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 15px;
        padding-top: 15px;
        height: 68px;
    }

    .pfr_payment_headerinner {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 15px;
        padding-top: 15px;
        height: 72px;
    }

    .pfr_payment_header .btn-back, .pfr_payment_headerinner .btn-back {
        margin-right: 20px;
    }

    .pfr_payment_header_title {
        font-size: 17px;
        padding-left: 22px;
    }

    .pfr_payment_header .btn-close, .pfr_payment_headerinner .btn-close {
        font-size: 14px;
    }

    .pfr_payment_header .btn-back img, .pfr_payment_headerinner .btn-back img {
        width: 8px;
    }

    .pfr_payment_circle_btn {
        width: 38px;
        height: 38px;
    }

    .pfr_payment_circle_btn i {
        font-size: 12px;
    }

    .pfr_payment_body {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 15px;
        padding-top: 15px;
    }

    .pfr_payment_body_h {
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .pfr_payment_body_p {
        font-size: 21px;
        font-weight: 400;
        margin-bottom: 0px;
        line-height: 26px;
        letter-spacing: -0.3px;
    }

    .pfr_payment_big_btn, .pfr_payment_big_btn:hover, .pfr_payment_big_btn:active, .pfr_payment_big_btn:focus {
        width: 40%;
        font-size: 18px;
        font-weight: 500;
        padding: 0px 0px;
        border-radius: 10px;
        height: 54px;
        padding-bottom: 5px;
        margin-top: 34px;
        letter-spacing: 0.9px;
    }

    .pfr_payment_footer {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .pfr_payment_footer button, .pfr_payment_footer button:hover, .pfr_payment_footer button:active, .pfr_payment_footer button:focus {
        width: 100%;
        font-size: 18px;
        font-weight: 500;
        border-radius: 12px;
        height: 59px;
        letter-spacing: 0.9px;
        padding-bottom: 12px;
    }

    .pfr_payment_innerhead {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .pfr_payment_innerdivs {
        margin: 15px 0px;
    }

    .pfr_payment_imgdiv {
        width: 40px;
        height: 40px;
        border-radius: 100px;
    }

    .pfr_payment_imgdiv img {
        width: 16px;
        padding-bottom: 2px;
    }

    .pfr_payment_cardnumber {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: -0.5px;
        margin-left: -10px;
    }

    .pfr_payment_cardname {
        font-size: 14.5px;
        font-weight: 400;
        margin-bottom: 0;
        margin-left: -10px;
    }

    .pfr_payment_cardsdiv {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}