body {
    font-family: 'Inter', sans-serif;
}

.white_background {
    background: #fff !important;
}

.border_bottom_light{
    border-bottom: 1px solid #e0e0e0;
}
i{
    font-family: fontAwesome;
    font-style: unset;
}