.pfr_mybooking_dsk {
    display: block;
}

.pfr_mybooking_mbl {
    display: none;
}

.pfr_mybooking_plusbtnmbl {
    display: none;
    position: fixed;
    bottom: 10%;
    right: 5%;
    z-index: 999;
    background: #000;
    color: #fff;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 18px;
}

.pfr_mybooking_logdiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 43px 0px;
    width: 100%;
}

.pfr_mybooking_logsubdiv {
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.pfr_mybooking_logdiv img {
    width: 40%;
    margin-right: 15px;
    margin-left: 15px;
}

.pfr_mybooking_logdiv_h2 {
    font-size: 26px;
    font-weight: 600;
    margin: 30px 0px 0px 0px;
    color: #000;
}

.pfr_mybooking_logdiv_p {
    font-size: 21px;
    font-weight: 400;
    margin: 10px 0 0px;
    line-height: 26px;
    letter-spacing: -.3px;
    color: #5b5b5b;
}

.pfr_mybooking_logdiv_btn, .pfr_mybooking_logdiv_btn:active, .pfr_mybooking_logdiv_btn:hover, .pfr_mybooking_logdiv_btn:focus {
    background: #000;
    color: #fff;
    border: none;
    height: 54px;
    width: 20%;
    outline: none;
    box-shadow: none;
    font-weight: 500;
    font-size: 18px;
    white-space: nowrap;
    border-radius: 10px;
    padding: 0 0 5px;
    margin-top: 34px;
    letter-spacing: .9px;
}

.pfr_colorblue, .pfr_colorblue:active, .pfr_colorblue:hover, .pfr_colorblue:focus {
    background: #1a73e9;
}

.pfr_tabs {
    background: #fff;
    border-bottom: 2px solid #eee;
}

.pfr_tabs .MuiTabs-fixed::-webkit-scrollbar {
    display: none;
}

.pfr_tabs .MuiTabs-fixed {
    overflow-y: hidden !important;
    overflow-x: scroll !important;
}

.pfr_tabs_tab {
    text-align: left !important;
    font-size: 18px !important;
    font-family: 'Inter' !important;
    font-weight: 600 !important;
    margin-right: 30px !important;
    padding: 0px 5px !important;
    letter-spacing: 0px !important;
    min-width: 72px !important;
}

.pfr_tabs_tab .MuiTouchRipple-root {
    display: none;
}

.pfr_tabs_tab.Mui-selected {
    border-bottom: 2px solid #000;
}

.pfr_tabs .MuiTabs-indicator {
    background-color: #000;
    display: none;
}

.pfr_mybooking_header {
    margin: 50px 0px 50px 0px;
    justify-content: space-between;
    align-items: center;
}

.pfr_mybooking_header h2 {
    font-size: 38px;
    font-weight: 600;
    color: #000;
    margin-bottom: 0;
}

.pfr_mybooking_btn, .pfr_mybooking_btn:active, .pfr_mybooking_btn:hover, .pfr_mybooking_btn:focus {
    background: #000;
    color: #fff;
    border: none;
    height: 50px;
    width: 30%;
    outline: none;
    box-shadow: none;
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;
    border-radius: 10px;
}

.pfr_mybooking_divdsk {
    display: flex;
}

.pfr_mybooking_divmbl {
    display: none !important;
}

.pfr_mybooking_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px #aaa;
    margin: 3px;
    margin-top: 32px;
    position: relative;
    cursor: pointer;
    background-position: center;
    transition: background 1s;
    user-select: none;
}

.pfr_mybooking_div:active {
    background-color: rgb(0 0 0 / 10%);
    background-size: 100%;
    transition: background 0s;
}

.pfr_mybooking_imgdiv {
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    width: 130px;
    height: 100px;
    background-size: cover;
    border-radius: 10px;
    position: relative;
    margin-right: 0px;
}

.pfr_mybooking_pricembl {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    background: #fff;
    border-radius: 0;
    border-top-left-radius: 5px;
    color: #000;
    padding: 0px 5px;
    font-size: 12px;
    font-weight: 500;
}

.pfr_mybooking_h2div {
    /* margin-left: 30px;
    width: 300px; */
}

.pfr_mybooking_midrow {
    display: flex;
    align-items: center;
}

.pfr_mybooking_h2div h2 {
    font-weight: 600;
    font-size: 18px;
    color: #000;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 18px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 0;
}

.pfr_mybooking_labeldivdsk {
    text-align: left;
}

.pfr_mybooking_label {
    padding-top: 5px;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-left: 8px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
}

.pfr_mybooking_label_green {
    background: #d3efe4;
    color: #079024;
}

.pfr_mybooking_label_orange {
    background: #ffdfd8;
    color: #ff5f3b;
}

.pfr_mybooking_label_gray {
    background: #999999;
    color: #fff;
}

.pfr_mybooking_datetimediv {
    text-align: left;
}

.pfr_mybooking_datetime {
    white-space: nowrap;
    font-size: 17px;
    margin-bottom: 0;
    font-weight: 400;
    color: #000;
}

.pfr_mybooking_pricedskdiv {
    text-align: center;
}

.pfr_mybooking_pricedsk {
    font-size: 17px;
    font-weight: 400;
    color: #000;
}

.pfr_mybooking_divlastdsk {
    right: 15px;
    display: flex;
    flex-direction: column;
    height: 100px;
    position: absolute;
    width: 100px;
    align-items: flex-end;
    justify-content: center;
}

.pfr_mybooking_divlastdsk i {
    position: absolute;
    right: 0;
    font-size: 14px;
}

.pfr_mybooking_divlabeldsk {
    position: absolute;
    top: 0;
    right: 0;
    white-space: nowrap;
}

.pfr_mybooking_dividdsk {
    position: absolute;
    bottom: 0;
    right: 0;
    white-space: nowrap;
}

.pfr_mybooking_dividdsk span {
    font-size: 14px;
    font-weight: 400;
    color: #999999;
}

@media only screen and (max-width: 550px) {

    /*mobile*/
    .pfr_mybooking_midrow {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: 15px;
    }

    .pfr_mybooking_plusbtnmbl {
        display: flex;
    }

    .pfr_mybooking_logdiv {
        flex-direction: column;
        margin: 50px 0px;
    }

    .pfr_mybooking_logsubdiv {
        margin-left: 0px;
        width: 90%;
    }

    .pfr_mybooking_logdiv img {
        width: 80%;
        margin-right: 0px;
    }

    .pfr_mybooking_logdiv_h2 {
        font-size: 24px;
        font-weight: 600;
        margin: 30px 0px 0px 0px;
    }

    .pfr_mybooking_logdiv_p {
        font-size: 15px;
        font-weight: 400;
        margin: 10px 0 30px 0px;
    }

    .pfr_mybooking_logdiv_btn, .pfr_mybooking_logdiv_btn:active, .pfr_mybooking_logdiv_btn:hover, .pfr_mybooking_logdiv_btn:focus {
        width: 40%;
        font-size: 18px;
        font-weight: 500;
        border-radius: 10px;
        height: 54px;
        padding: 0 0 5px;
        letter-spacing: .9px;
    }

    .pfr_mybooking_dsk {
        display: none;
    }

    .pfr_mybooking_mbl {
        display: block;
    }

    .pfr_mybooking_tabcontainer {
        padding-left: 0;
        padding-right: 0;
    }

    .pfr_tabs .MuiTabs-fixed {
        padding-left: 15px;
        padding-right: 15px;
    }

    .pfr_mybooking_header {
        margin: 50px 0px 50px 0px;
    }

    .pfr_mybooking_header h2 {
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 0;
    }

    .pfr_mybooking_btn, .pfr_mybooking_btn:active, .pfr_mybooking_btn:hover, .pfr_mybooking_btn:focus {
        height: 50px;
        width: 30%;
        font-weight: 500;
        font-size: 16px;
        border-radius: 10px;
    }

    .pfr_mybooking_div {
        padding: 15px;
        border-radius: 10px;
        margin-top: 15px;
        margin-right: 15px;
        margin-left: 15px;
    }

    .pfr_mybooking_divdsk {
        display: none !important;
    }

    .pfr_mybooking_divmbl {
        display: flex !important;
    }

    .pfr_mybooking_imgdiv {
        width: 130px;
        height: 95px;
        border-radius: 12px;
        margin-right: 0px;
    }

    .pfr_mybooking_pricembl {
        display: block;
    }

    .pfr_mybooking_h2div h2 {
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 0;
    }

    .pfr_mybooking_label {
        padding: 5px;
        border-radius: 5px;
        font-size: 12px;
        font-weight: 500;
    }

    .pfr_mybooking_datetime {
        font-size: 14px;
        margin-bottom: 0;
        font-weight: 400;
    }

    .pfr_mybooking_pricedsk {
        font-size: 14px;
        font-weight: 600;
    }

    .pfr_mybooking_divlastdsk {
        right: 15px;
        height: 100px;
        width: 100px;
    }

    .pfr_mybooking_divlastdsk i {
        right: 0;
        font-size: 12px;
    }

    .pfr_mybooking_divlabeldsk {
        top: 0;
        right: 0;
    }

    .pfr_mybooking_dividdsk {
        bottom: 0;
        right: 0;
    }

    .pfr_tabs_tab {
        font-size: 15px !important;
    }

    .pfr_mybooking_dividdsk span {
        font-size: 10px;
        font-weight: 400;
    }
}

@media only screen and (max-width: 767px) {

    /*mobile*/
    .pfr_mybooking_midrow {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: 15px;
    }

    .pfr_mybooking_plusbtnmbl {
        display: flex;
    }

    .pfr_mybooking_logdiv {
        flex-direction: column;
        margin: 50px 0px;
    }

    .pfr_mybooking_logsubdiv {
        margin-left: 0px;
        width: 90%;
    }

    .pfr_mybooking_logdiv img {
        width: 80%;
        margin-right: 0px;
    }

    .pfr_mybooking_logdiv_h2 {
        font-size: 24px;
        font-weight: 600;
        margin: 30px 0px 0px 0px;
    }

    .pfr_mybooking_logdiv_p {
        font-size: 15px;
        font-weight: 400;
        margin: 10px 0 30px 0px;
    }

    .pfr_mybooking_logdiv_btn, .pfr_mybooking_logdiv_btn:active, .pfr_mybooking_logdiv_btn:hover, .pfr_mybooking_logdiv_btn:focus {
        width: 40%;
        font-size: 18px;
        font-weight: 500;
        border-radius: 10px;
        height: 54px;
        padding: 0 0 5px;
        letter-spacing: .9px;
    }

    .pfr_mybooking_dsk {
        display: none;
    }

    .pfr_mybooking_mbl {
        display: block;
    }

    .pfr_tabs .MuiTabs-fixed {
        padding-left: 15px;
        padding-right: 15px;
    }

    .pfr_mybooking_tabcontainer {
        padding-left: 0;
        padding-right: 0;
    }

    .pfr_mybooking_header {
        margin: 50px 0px 50px 0px;
    }

    .pfr_mybooking_header h2 {
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 0;
    }

    .pfr_mybooking_btn, .pfr_mybooking_btn:active, .pfr_mybooking_btn:hover, .pfr_mybooking_btn:focus {
        height: 50px;
        width: 30%;
        font-weight: 500;
        font-size: 16px;
        border-radius: 10px;
    }

    .pfr_mybooking_div {
        padding: 15px;
        border-radius: 10px;
        margin-right: 22px;
        margin-left: 22px;
        margin-top: 18px;
    }

    .pfr_mybooking_divdsk {
        display: none !important;
    }

    .pfr_mybooking_divmbl {
        display: flex !important;
    }

    .pfr_mybooking_imgdiv {
        width: 130px;
        height: 95px;
        border-radius: 12px;
        margin-right: 0px;
    }

    .pfr_mybooking_pricembl {
        display: block;
    }

    .pfr_mybooking_h2div h2 {
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 0;
    }

    .pfr_mybooking_label {
        padding: 5px;
        border-radius: 5px;
        font-size: 12px;
        font-weight: 500;
    }

    .pfr_mybooking_datetime {
        font-size: 14px;
        margin-bottom: 0;
        font-weight: 400;
    }

    .pfr_mybooking_pricedsk {
        font-size: 14px;
        font-weight: 600;
    }

    .pfr_mybooking_divlastdsk {
        right: 15px;
        height: 100px;
        width: 100px;
    }

    .pfr_mybooking_divlastdsk i {
        right: 0;
        font-size: 12px;
    }

    .pfr_mybooking_divlabeldsk {
        top: 0;
        right: 0;
    }

    .pfr_mybooking_dividdsk {
        bottom: 0;
        right: 0;
    }

    .pfr_tabs_tab {
        font-size: 15px !important;
    }
    .pfr_mybooking_dividdsk span {
        font-size: 10px;
        font-weight: 400;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {

    /*ipad*/
    .pfr_mybooking_midrow {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: 15px;
    }

    .pfr_mybooking_plusbtnmbl {
        display: none;
    }

    .pfr_mybooking_logdiv {
        flex-direction: column;
        margin: 50px 0px;
    }

    .pfr_mybooking_logsubdiv {
        margin-left: 0px;
        width: 90%;
    }

    .pfr_mybooking_logdiv img {
        width: 80%;
        margin-right: 0px;
    }

    .pfr_mybooking_logdiv_h2 {
        font-size: 24px;
        font-weight: 600;
        margin: 30px 0px 0px 0px;
    }

    .pfr_mybooking_logdiv_p {
        font-size: 15px;
        font-weight: 400;
        margin: 10px 0 30px 0px;
    }

    .pfr_mybooking_logdiv_btn, .pfr_mybooking_logdiv_btn:active, .pfr_mybooking_logdiv_btn:hover, .pfr_mybooking_logdiv_btn:focus {
        width: 40%;
        font-size: 18px;
        font-weight: 500;
        border-radius: 10px;
        height: 54px;
        padding: 0 0 5px;
        letter-spacing: .9px;
    }

    .pfr_mybooking_dsk {
        display: none;
    }

    .pfr_mybooking_mbl {
        display: block;
    }

    .pfr_tabs .MuiTabs-fixed {
        padding-left: 15px;
        padding-right: 15px;
    }

    .pfr_mybooking_tabcontainer {
        /* padding-left: 0;
        padding-right: 0; */
    }

    .pfr_mybooking_header {
        margin: 50px 0px 50px 0px;
    }

    .pfr_mybooking_header h2 {
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 0;
    }

    .pfr_mybooking_btn, .pfr_mybooking_btn:active, .pfr_mybooking_btn:hover, .pfr_mybooking_btn:focus {
        height: 50px;
        width: 30%;
        font-weight: 500;
        font-size: 16px;
        border-radius: 10px;
    }

    .pfr_mybooking_div {
        padding: 15px;
        border-radius: 10px;
        margin-right: 22px;
        margin-left: 22px;
        margin-top: 18px;
    }

    .pfr_mybooking_divdsk {
        display: none !important;
    }

    .pfr_mybooking_divmbl {
        display: flex !important;
    }

    .pfr_mybooking_imgdiv {
        width: 130px;
        height: 95px;
        border-radius: 12px;
        margin-right: 0px;
    }

    .pfr_mybooking_pricembl {
        display: block;
    }

    .pfr_mybooking_h2div h2 {
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 0;
    }

    .pfr_mybooking_label {
        padding: 5px;
        border-radius: 5px;
        font-size: 12px;
        font-weight: 500;
    }

    .pfr_mybooking_datetime {
        font-size: 14px;
        margin-bottom: 0;
        font-weight: 400;
    }

    .pfr_mybooking_pricedsk {
        font-size: 14px;
        font-weight: 600;
    }

    .pfr_mybooking_divlastdsk {
        right: 15px;
        height: 100px;
        width: 100px;
    }

    .pfr_mybooking_divlastdsk i {
        right: 0;
        font-size: 12px;
    }

    .pfr_mybooking_divlabeldsk {
        top: 0;
        right: 0;
    }

    .pfr_mybooking_dividdsk {
        bottom: 0;
        right: 0;
    }

    .pfr_tabs_tab {
        font-size: 15px !important;
    }

    .pfr_mybooking_dividdsk span {
        font-size: 10px;
        font-weight: 400;
    }

}

@media only screen and (max-width: 1200px) and (min-width: 992px) {

    /*ipad pro*/
    .pfr_mybooking_divdsk {
        display: none !important;
    }

    .pfr_mybooking_divmbl {
        display: flex !important;
    }
}

@media only screen and (min-width: 1600px) {

    /*large desktop*/

    .pfr_mybooking_logdiv {
        margin: 43px 0px;
    }

    .pfr_mybooking_logsubdiv {
        margin-left: 15px;
    }

    .pfr_mybooking_logdiv img {
        width: 40%;
        margin-right: 15px;
        margin-left: 15px;
    }

    .pfr_mybooking_logdiv_h2 {
        font-size: 26px;
        font-weight: 600;
        margin: 30px 0px 0px 0px;
    }

    .pfr_mybooking_logdiv_p {
        font-size: 21px;
        font-weight: 400;
        margin: 10px 0 0px;
        line-height: 26px;
        letter-spacing: -.3px;
    }

    .pfr_mybooking_logdiv_btn, .pfr_mybooking_logdiv_btn:active, .pfr_mybooking_logdiv_btn:hover, .pfr_mybooking_logdiv_btn:focus {
        height: 54px;
        width: 20%;
        font-weight: 500;
        font-size: 18px;
        border-radius: 10px;
        padding: 0 0 5px;
        margin-top: 34px;
        letter-spacing: .9px;
    }

    .pfr_mybooking_dsk {
        display: block;
    }

    .pfr_mybooking_mbl {
        display: none;
    }

    .pfr_mybooking_header {
        margin: 50px 0px 50px 0px;
    }

    .pfr_mybooking_header h2 {
        font-size: 38px;
        font-weight: 600;
        margin-bottom: 0;
    }

    .pfr_mybooking_btn, .pfr_mybooking_btn:active, .pfr_mybooking_btn:hover, .pfr_mybooking_btn:focus {
        height: 50px;
        width: 30%;
        font-weight: 500;
        font-size: 16px;
        border-radius: 10px;
    }

    .pfr_mybooking_div {
        padding: 15px;
        margin: 3px;
        margin-top: 32px;
    }

    .pfr_mybooking_imgdiv {
        width: 130px;
        height: 100px;
        margin-right: 5px;
    }

    .pfr_mybooking_midrow {
        display: flex;
        align-items: center;
    }

    .pfr_mybooking_h2div h2 {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
    }

    .pfr_mybooking_labeldivdsk {
        text-align: left;
    }

    .pfr_mybooking_label {
        padding-top: 5px;
        padding-right: 8px;
        padding-bottom: 5px;
        padding-left: 8px;
        border-radius: 5px;
        font-size: 15px;
        font-weight: 500;
    }

    .pfr_mybooking_datetime {
        font-size: 17px;
        margin-bottom: 0;
        font-weight: 400;
    }

    .pfr_mybooking_pricedsk {
        font-size: 17px;
        font-weight: 400;
    }

    .pfr_mybooking_divlastdsk {
        right: 15px;
        height: 100px;
        width: 100px;
    }

    .pfr_mybooking_divlastdsk i {
        right: 0;
        font-size: 14px;
    }

    .pfr_mybooking_divlabeldsk {
        top: 0;
        right: 0;
    }

    .pfr_mybooking_dividdsk {
        bottom: 0;
        right: 0;
    }

    .pfr_mybooking_dividdsk span {
        font-size: 14px;
        font-weight: 400;
    }
}