.pfr_homeAutocompleteDropdownContainer {
    width: 100%;
    margin-top: 10px;
    position: absolute;
    top: 68px;
    border-radius: 10px !important;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    overflow: hidden;
    user-select: none;
}

.pfr_homeLocationSearchInput {
    font-size: 17px;
    font-weight: 600;
}

.pfr_homeLocationLoading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pfr_homePlacesSearchItem, .pfr_homePlacesSearchItemActive {
    width: 100%;
    height: 88px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-position: center;
    transition: background 1s;
    cursor: pointer;
}

.pfr_homePlacesSearchItem:active, .pfr_homePlacesSearchItemActive:active {
    background-color: rgb(0 0 0 / 10%);
    background-size: 100%;
    transition: background 0s;
}

.pfr_homePlacesSearchItemIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
}

.pfr_homePlacesSearchItemIcon img {
    background: #eee;
    width: 35px;
    padding: 11px;
    border-radius: 100px;
}

.pfr_homePlacesSearchItemTxt {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 80%;
    height: 100%;
    border-bottom: 1px solid #e3e3e3;
}

.pfr_homePlacesSearchItemTxt1 {
    width: 100%;
    font-size: 16px;
    margin-bottom: -2px;
    font-weight: 600;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pfr_homePlacesSearchItemTxt2 {
    font-size: 14px;
    font-weight: 400;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.pfr_mblHomeGSearchDiv {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background: #fff;
    z-index: 1024;
}

.pfr_mblHomeGSearchSubDiv {}

.pfr_mblHomeInput {
    padding-top: 5px;
}

.pfr_back_iconimg_mbl {
    width: 10px !important;
}

@media only screen and (max-width: 550px) and (orientation:portrait) {

    /*mobile*/
    .pfr_homeAutocompleteDropdownContainer {
        margin-top: 0px;
        top: 68px;
        border-radius: 0px !important;
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
    }

    .pfr_mblHomeInput {
        padding-top: 5px;
    }
}

@media only screen and (max-width: 767px) {

    /*mobile*/
    .pfr_homeAutocompleteDropdownContainer {
        margin-top: 0px;
        top: 68px;
        border-radius: 0px !important;
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
    }

    .pfr_mblHomeInput {}
}

@media only screen and (max-width: 767px) and (orientation:portrait) {

    /*mobile*/

}

@media only screen and (max-width: 1024px) and (min-width: 768px) and (orientation:portrait) {

    /*ipad*/

    .pfr_homeAutocompleteDropdownContainer {
        margin-top: 10px;
        top: 68px;
    }

    .pfr_homeLocationSearchInput {
        font-size: 17px;
        font-weight: 600;
    }

    .pfr_homePlacesSearchItem, .pfr_homePlacesSearchItemActive {
        width: 100%;
        height: 70px;
    }

    .pfr_homePlacesSearchItemIcon {
        width: 22%;
    }

    .pfr_homePlacesSearchItemIcon img {
        width: 30px;
        padding: 10px;
    }

    .pfr_homePlacesSearchItemTxt {
        width: 78%;
    }

    .pfr_homePlacesSearchItemTxt1 {
        font-size: 14px;
        font-weight: 600;
    }

    .pfr_homePlacesSearchItemTxt2 {
        font-size: 12px;
        font-weight: 400;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) and (orientation:landscape) {

    /*ipad*/

}

@media only screen and (max-width: 1200px) and (min-width: 992px) {

    /*ipad pro*/

}

@media only screen and (min-width: 1600px) {

    /*large desktop*/
    .pfr_homeAutocompleteDropdownContainer {
        margin-top: 10px;
        top: 68px;
    }

    .pfr_homeLocationSearchInput {
        font-size: 17px;
        font-weight: 600;
    }

    .pfr_homePlacesSearchItem, .pfr_homePlacesSearchItemActive {
        width: 100%;
        height: 88px;
    }

    .pfr_homePlacesSearchItemIcon {
        width: 20%;
    }

    .pfr_homePlacesSearchItemIcon img {
        width: 36px;
        padding: 11px;
    }

    .pfr_homePlacesSearchItemTxt {
        width: 80%;
    }

    .pfr_homePlacesSearchItemTxt1 {
        font-size: 17px;
        font-weight: 600;
        margin-bottom: -2px;
    }

    .pfr_homePlacesSearchItemTxt2 {
        font-size: 15px;
        font-weight: 400;
    }

}